* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas {
  height: 80vh;
  width: 100vw;
  border-bottom: 5px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  position: relative;
}

.player {
  height: 3rem;
  width: 3rem;
  background-color: coral;
  position: absolute;
}
