* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas {
  height: 80vh;
  width: 100vw;
  border-bottom: 5px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  position: relative;
  overflow: hidden;
}

.player {
  background-color: gold;
  position: absolute;
}

.obstacle {
  background-color:firebrick;
  position: absolute;
}
